# gradle


*~
\#*

.gradle/
build/
out/
bin/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
.classpath
.project

# macos

*.DS_Store

# fabric

/run/
/logs/